/*

.navbar-admin {
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-admin .navbar-brand {
    padding: 0px;
}

.navbar-nav>li>a {
    line-height: 50px;
    font-size: 16px;
    height: 50px;
    padding-top: 0;
}*/